<div class="Welcome">
  <div class="cont_welcome">
    <div class="cont2_welcome">
      <div class="title">
        <h1>Bienvenido {{ getFullName() }}</h1>
      </div>
      <div class="continerData">
        <div class="cont_cd">
          <div class="cont2_cd">
            <div class="row">
              <div class="cont_r">
                <div class="cont2_r">
                  <div class="data_1">
                    <h3>Nombre: {{ getName() }}</h3>
                  </div>
                  <div class="data_2">
                    <h3>Apellido: {{ getLastname() }}</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="cont_r">
                <div class="cont2_r">
                  <div class="data_1">
                    <h3>Edad: {{ getAge() }}</h3>
                  </div>
                  <div class="data_2">
                    <h3>Año de nacimiento: {{ getBirthday() }}</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="cont_r">
                <div class="cont2_r">
                  <div class="data_1">
                    <h3>Genero: {{ getGender() }}</h3>
                  </div>
                  <div class="data_2" *ngIf="isWomen()">
                    <h3>Lactancia: {{ isPregnant() }}</h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="cont_r">
                <div class="cont2_r">
                  <div class="data_1">
                    <h3>Teléfono: {{ getPhone() }}</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
