<app-header></app-header>
<div class="imageHome">
  <div class="cont_imageHome">
    <div class="cont2_imageHome">
      <img src="assets/images/background-pegasi-pc.jpg" alt="image pagaci pc" />
      <div class="continerMsg">
        <div class="cont_cm">
          <div class="cont2_cm">
            <div id="slogan">
              <p class="msg">
                <span>
                  Manejo inteligente de la información de salud en Latinoamérica
                </span>
              </p>
            </div>
            <p>
              Hacemos la información de salud latinoamericana accesible, clara y
              segura, y creamos Inteligencia de Negocios a partir de Big Data
              agregada y anonimizada.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home">
  <div class="cont_home">
    <div class="cont2_home">
      <app-skills></app-skills>
      <div class="continerSlogan">
        <div class="cont_cs">
          <div class="cont2_cs">
            <div class="msg">
              <div id="headerMsg">
                <div class="cont_hm">
                  <div class="cont2_hm">
                    <h2>70%</h2>
                    <p>
                      de la información médica en Latinoamérica aún está en
                      papel.
                    </p>
                  </div>
                </div>
              </div>
              <div class="footerMsg">
                <div class="cont_fm">
                  <div class="cont2_fm">
                    <h2>¡Es momento de cambiarla!</h2>
                  </div>
                </div>
              </div>
            </div>
            <div class="borderSup"></div>
            <div class="borderInf"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
