<header class="header">
  <div class="cont_h">
    <div class="cont2_h">
      <div class="continerLetterhead">
        <div class="cont_cl">
          <div class="cont2_cl">
            <div class="continerImage">
              <div class="cont_ci">
                <div class="cont2_ci">
                  <a routerLink="/">
                    <img src="assets/icons/logo.png" alt="logo pegasi" />
                  </a>
                </div>
              </div>
            </div>
            <nav class="continerLogin">
              <div class="cont_cl">
                <div class="cont2_cl">
                  <a routerLink="/login">Login</a>
                  <a routerLink="/">Sing In</a>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="continerMenu">
        <div class="cont_cm">
          <div class="cont2_cm">
            <a routerLink="/register">Registrar Datos</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
