.header {
  min-height: 10vh;
  position: relative;
  width: 100%;
  height: 100px;

  & > .cont_h {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f8f9fa;
    padding: 10px;
    color: #636569;

    & > .cont2_h {
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;

      & > .continerLetterhead {
        position: relative;
        width: 100%;
        height: 80%;

        & > .cont_cl {
          position: relative;
          width: 100%;
          height: 100%;
          padding: 0 0 5px 0;

          & > .cont2_cl {
            position: relative;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            & > .continerImage {
              position: relative;
              flex-basis: 80%;
              height: 100%;

              & > .cont_ci {
                position: relative;
                width: 100%;
                height: 100%;
                padding: 5px;

                & > .cont2_ci {
                  position: relative;
                  width: 100%;
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
            }

            & > .continerLogin {
              position: relative;
              flex-basis: 20%;
              height: 100%;

              & > .cont_cl {
                position: relative;
                width: 100%;
                height: 100%;
                padding: 5px;

                & > .cont2_cl {
                  position: relative;
                  width: 100%;
                  height: 100%;
                  display: flex;
                  justify-content: space-evenly;
                  align-items: center;

                  & > a {
                    font-size: 1rem;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    &:any-link {
                      color: #636569;
                    }

                    &:hover {
                      color: rgb(0, 38, 255);
                    }
                  }
                }
              }
            }
          }
        }
      }

      & > .continerMenu {
        /*Menu Web*/
      }
    }
  }
}
