<header class="header">
  <div class="cont_h">
    <div class="cont2_h">
      <div class="continerImage">
        <div class="cont_ci">
          <div class="cont2_ci">
            <a routerLink="/">
              <img src="assets/icons/logo.png" alt="logo pegasi" />
            </a>
          </div>
        </div>
      </div>
      <nav class="continerLogin">
        <div class="cont_cl">
          <div class="cont2_cl">
            <a routerLink="/login">Login</a>
            <a routerLink="/singin">Sing In</a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</header>
